main {
    margin: 10rem auto 0;
    width: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    width: fit-content;
    margin: 0 auto;
}

span {
    margin: 0 10px;
}

.section {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
    margin: 1rem 0;
}